* {
  margin: 0;
  padding: 0;
}

h2.brand {
  padding-top: 9px;
}

section span.mini {
  font-size: 1.8rem;
  font-weight: 350;
  position: relative;
  top: 10vh;
  color: #8c8c8c;
}

section span.vr {
  position: absolute;
  top: 11vh;
  border-left: 2px solid #8c8c8c;
  height: 32px;
}

section span.login {
  font-size: 1.8rem;
  font-weight: 650;
  position: relative;
  top: 10vh;
  margin-left: 5px;
}

section a.formulir {
  text-decoration: none;
  color: #0d6efd;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

section a.formulir :hover {
  color: #fff;
  background-color: #0d6efd;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

section form.berkas-upload hr {
  height: 1px;
  color: #343a40;
  background-color: #343a40;
  opacity: 0.5;
}

section div.form-login {
  margin: auto;
}

section div.form-login div.card {
  position: relative;
  top: 10vh;
  -webkit-box-shadow: 5px 10px 10px darkgrey;
          box-shadow: 5px 10px 10px darkgrey;
}

section div.form-login div.card div.card-header {
  border: none;
}

section div.form-login div.card div.card-header span.login-header {
  font-size: 1.5rem;
  font-weight: 650;
  color: #343a40;
}

section div.form-login div.card div.card-body {
  border: none;
  padding-bottom: 1px !important;
}

section div.form-login div.card div.card-body div.input-group span.show-password {
  cursor: pointer;
}

section div.form-login div.card div.card-footer {
  border: none;
}

footer.container-fluid {
  color: #fff;
}

footer.container-fluid .foot {
  text-align: right;
}

footer.container-fluid .foot .fa-heart {
  color: red;
}

footer.login {
  position: absolute !important;
  bottom: 0;
}

@media (max-width: 991px) {
  header .col-lg-1,
  .col-lg-11 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  header .col-lg-1 {
    margin-bottom: 0 !important;
  }
  header .col-lg-11 {
    margin-top: 0 !important;
    margin-bottom: 20px !important;
  }
  section form.berkas-upload img.ijazah {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  footer div.row div.col-lg-6 {
    text-align: center !important;
  }
  footer div.row div.foot-up {
    margin-bottom: 0.2rem !important;
  }
  footer div.row div.foot {
    margin-top: 0.2rem !important;
  }
  section div.card {
    margin-bottom: 12vh;
  }
  footer.login {
    position: relative !important;
    bottom: 0;
  }
}

@media (max-width: 470px) {
  header .col-lg-1,
  .col-lg-11 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  header .col-lg-11 {
    margin-top: 0 !important;
    margin-bottom: 20px !important;
  }
  header .col-lg-11 h2.brand {
    font-size: 6vw;
  }
  footer div.row div.col-lg-6 {
    text-align: center !important;
  }
  footer div.row div.foot-up {
    margin-bottom: 0.2rem !important;
  }
  footer div.row div.foot {
    margin-top: 0.2rem !important;
  }
}
/*# sourceMappingURL=style.css.map */