* {
  margin: 0;
  padding: 0;
}

h2.brand {
  padding-top: 9px;
}

section {
  span.mini {
    font-size: 1.8rem;
    font-weight: 350;
    position: relative;
    top: 10vh;
    color: #8c8c8c;
  }
  span.vr {
    position: absolute;
    top: 11vh;
    border-left: 2px solid #8c8c8c;
    height: 32px;
  }
  span.login {
    font-size: 1.8rem;
    font-weight: 650;
    position: relative;
    top: 10vh;
    margin-left: 5px;
  }
  a.formulir {
    text-decoration: none;
    color: #0d6efd;
    background-color: #fff;
    transition: all 0.3s;
    // border: 1px solid rgba(0, 0, 0, 0.125);
    :hover {
      color: #fff;
      background-color: #0d6efd;
      transition: all 0.3s;
    }
  }
  form.berkas-upload {
    hr {
      height: 1px;
      color: #343a40;
      background-color: #343a40;
      opacity: 0.5;
    }
  }
  div.form-login {
    margin: auto;
    div.card {
      position: relative;
      top: 10vh;
      box-shadow: 5px 10px 10px darkgrey;

      div.card-header {
        border: none;

        span.login-header {
          font-size: 1.5rem;
          font-weight: 650;
          color: #343a40;
        }
      }
      div.card-body {
        border: none;
        padding-bottom: 1px !important;

        div.input-group {
          span.show-password {
            cursor: pointer;
          }
        }
      }
      div.card-footer {
        border: none;
      }
    }
  }
}

footer.container-fluid {
  color: #fff;
  .foot {
    text-align: right;
    .fa-heart {
      color: red;
    }
  }
}

footer.login {
  position: absolute !important;
  bottom: 0;
}

@media (max-width: 991px) {
  header .col-lg-1,
  .col-lg-11 {
    display: flex !important;
    justify-content: center !important;
  }
  header .col-lg-1 {
    margin-bottom: 0 !important;
  }
  header .col-lg-11 {
    margin-top: 0 !important;
    margin-bottom: 20px !important;
  }
  section {
    form.berkas-upload {
      img.ijazah {
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 767px) {
  footer {
    div.row {
      div.col-lg-6 {
        text-align: center !important;
      }
      div.foot-up {
        margin-bottom: 0.2rem !important;
      }
      div.foot {
        margin-top: 0.2rem !important;
      }
    }
  }
  section {
    div.card {
      margin-bottom: 12vh;
    }
  }
  footer.login {
    position: relative !important;
    bottom: 0;
  }
}

@media (max-width: 470px) {
  header .col-lg-1,
  .col-lg-11 {
    display: flex !important;
    justify-content: center !important;
  }
  header .col-lg-11 {
    margin-top: 0 !important;
    margin-bottom: 20px !important;
    h2.brand {
      font-size: 6vw;
    }
  }
  footer {
    div.row {
      div.col-lg-6 {
        text-align: center !important;
      }
      div.foot-up {
        margin-bottom: 0.2rem !important;
      }
      div.foot {
        margin-top: 0.2rem !important;
      }
    }
  }
}
